Bonjour <%= @user.first_name.capitalize %>,

Nous avons identifié des annonces immobilières qui pourraient vous intéresser :

<% @alerts_and_properties.each do |alert, properties| %>
<p>Alerte - <%= alert.name %></p>
  <% unless properties.nil? %>
    <% properties.each do |property| %>
      <%= link_to "http://api.homepay.fr/tracking/#{alert.id}/#{property.id}", target: :_blank do %>
        <%= property.name %>
        Prix : <%= property.price %>€ <%= "(#{property.price_per_sqm}€/m²)" if property.price_per_sqm %>
        Surface : <%= property.livable_size_sqm %>m²
        <% if property.address %>
          <%= property.address.split.map(&:capitalize).join(' ') %>
        <% else %>
          <%= property.city.split.map(&:capitalize).join(' ') %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

Si vous avez des questions, n'hésitez pas à nous contacter sur contact@helloprosper.fr

Bonne journée,

Guillaume, Fondateur
